/* About me */
#imgtext {
    margin-top: 15px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    background-color: var(--gray);
}

.about img{
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 30%;
    padding: 10px;
    margin: 20px;
}

