/* media queries */

@media screen and (max-width: 768px) {
    .header 
    {
       flex-direction: column;
      }

      #imgtext{
          display: block;
          padding: 15px;
      }

      .about img{
          width: 100%;
      }

      #portfolio{
        display: flex;
        flex-wrap: wrap-reverse;
      }

      #card{
          width: 100%;
      }
    
      .contact ul{
          flex-direction: column;
          background-color: var(--gray);
        } 
        
        .contact ul li{
            margin: 15px;
         }
}
  