.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--box);
}

.header nav ul a{
    justify-content: flex-end;
    color: var(--slate);
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    text-decoration: none;
}