:root {
    --background: rgb(14, 72, 73);
    --h1: white;
    --h2: rgb(152, 176, 176);
    --nav: rgb(105, 97, 69);
    --p: rgb(0, 0, 0);
    --box: rgba(3, 3, 3, 0.501);
    --slate: rgb(152, 176, 176);
    --handwriting: 'Architects Daughter', cursive;
    --tilted: 'Courgette', cursive;
    --name: 'Dancing Script', cursive;
}

[class*="col-"] {
    float: left;
    padding: 2px;
  }

html{
    box-sizing: border-box;
}

.col-3 {
    width: 25%;
    /* padding: 10px; */
}
.col-9 {
    width: 75%;
    /* padding: 10px; */
}

/* body general */
body{
    background-color: var(--background);
     color: gray;
    font-family: 'Catamaran', sans-serif;
}

h1 {
    color: var(--h1);
    font-size: 60px;
    padding-left: 10px;
    margin: 20px;
    font-family: var(--name);
}

h2 {
    color: var(--h2);
    text-align: left;
    padding-left: 40px;
    padding: 20px;
    align-self: flex-start;
    font-family: var(--handwriting);
}

.nav-bar{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 110%;
    font-family: var(--tilted);
}

ol{
    margin-right: 10px;
}

h4,
h6{
    color: var(--p);
    margin: 10px;
}

footer{
    margin-top: 50px;
    color: var(--slate);
    text-align: center;
    font-family: var(--name);
}

section{
    background-color: rgb(3, 3, 3, .2);
    margin: 20px;
    padding: 20px;
}

/* NAV BAR */
.header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--box);
}

.header nav ul a{
    justify-content: flex-end;
    color: var(--slate);
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    text-decoration: none;
}

/* ABOUT ME */

.sonali{
    display: flex;
    /* align-self: flex-start; */
}

.me-img{
    border: 1px solid #ddd;
    border-radius: 20%;
    width: 80px;
    /* height: 0px; */
    margin: 15px;
} 

.summary{
    font-size: 105%;
}

/* SKILLS */

.skill-name{
   display: inline-block; 
   color: var(--p);
   font-weight: bold;
   font-size: 110%;
   font-family: var(--tilted);
}

/* PORTFOLIO */

/* Create three equal columns that sits next to each other */
  .container{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
  } 
  
.card{
    /* width: 30%; */
    padding: 5px;
    background-color: var(--card);
  }

  .portfolio div{
    opacity: .60;
  }
    
  .portfolio img{
      width: 80%;
  }

  .portfolio a{
    text-decoration: none;
    color: gray;
  }

    
    /* hover */
        .portfolio div:hover{
            opacity: 1;
        }

        .contact a:hover{
            color: var(--h1)
        }

        .header a:hover{
            color: var(--h1);
            background-color: var(--gray);
        }


/* CONTACT INFO*/
.contact a {
    text-decoration: none;
    color: var(--nav);
};

.contact-list{
    list-style-type: s;
}


/* Mobile View */
@media only screen and (max-width: 768px) {
    
    
    .header{
    /* display: block; */
    flex-direction: column;
    }

   
      #card{
          width: 100%;
      }
    
      .contact ul{
          flex-direction: column;
          text-align: center;
        } 
        
        .contact ul li{
            margin: 15px;
         }
}
  