:root {
    --background: black;
    --h1: white;
    --h2: rgb(197, 106, 119);
    --nav: lightpink;
    --p: rgb(130, 90, 182);
    --box: rgb(105, 13, 28);
}

html{
    background-color: var(--background);
    box-sizing: border-box;
}

/* Header + Nav bar */
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--box);
}

    .header ul {
        display: flex;
        list-style-type: none;
    }

    .header nav ul a{
        display: inline-block;
        justify-content: flex-end;
        color: var(--nav);
        padding-top: 15px;
        margin-right: 20px;
        float: right;
        text-decoration: none;
    }
 /* body general */
body{
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: var(--h1);
    padding-left: 10px;
}

h2 {
    color: var(--h2);
    text-align: left;
    padding-left: 40px;
    align-self: flex-start;
}

p{
    color: var(--p);
}

    #imgtext {
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: left;
    }

    .about img{
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 30%;
        float: left;
        margin: 10px;
    }

.contact a {
    text-decoration: none;
}




@media screen and (min-width: 768px) {
    /* on tablets, set columns to only be 50% of the width and not grow */
  }
  
  
