:root {
    --background: black;
    --h1: white;
    --h2: rgb(173, 91, 109);
    --nav: lightpink;
    --p: rgb(153, 85, 119);
    --box: rgb(105, 13, 28);
    --slate: rgba(112, 128, 144, 0.836);
    --gray: rgb(133, 121, 128, 0.2);
    --card: rgba(224, 178, 186, 0.349);
    --handwriting: 'Architects Daughter', cursive;
    --tilted: 'Courgette', cursive;
    --name: 'Dancing Script', cursive;
}

html{
    box-sizing: border-box;
}

/* body general */
body{
    background-color: var(--background);
    font-family: 'Catamaran', sans-serif;
}

h1 {
    color: var(--h1);
    font-size: 60px;
    padding-left: 10px;
    margin: 20px;
    font-family: var(--name);
}

h2 {
    color: var(--h2);
    text-align: left;
    padding-left: 40px;
    padding: 20px;
    align-self: flex-start;
    /* margin-top: 30px; */
    background-color: var(--gray);
    font-family: var(--handwriting);
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--slate);
    font-size: 110%;
    font-family: var(--tilted);

}

ol{
    color: var(--slate);
    margin-right: 10px;
}

h4,
h6{
    color: var(--p);
    margin: 10px;
}

footer{
    margin-top: 50px;
    color: var(--slate);
    text-align: center;
    font-family: var(--name);
}

/* ABOUT ME */

.me-img{
    border: 1px solid #ddd;
    border-radius: 100%;
    width: 30%;
    float: left;
    /* margin-right: 30px; */
}

.imgtext{
    display: flex;
    align-items: center;
    padding: 10px;
}

.summary{
    font-size: 115%;
}

.skill-name{
   display: inline-block; 
   color: var(--p);
   font-weight: bold;
   font-size: 110%;
   font-family: var(--tilted);

}




/* Mobile View */
@media screen and (max-width: 768px) {
    .header 
    {
       flex-direction: column;
      }

      .imgtext{
          display: flex;
          padding: 15px;
          flex-wrap: wrap;
      }

      .me-img{
          width: 70%;
          margin: auto;
      }



      #card{
          width: 100%;
      }
    
      .contact ul{
          flex-direction: column;
          text-align: center;
          /* background-color: var(--gray); */
        } 
        
        .contact ul li{
            margin: 15px;
         }
}
  